 input {
  padding: 15px;
  margin: 10px 0px;
}

* {
  background-color: rgb(245,245,245);
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}
form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}
.button {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(229, 82, 99);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.sign-in {
  color: rgb(229, 82, 99);
}
h5 {
  text-align: center;
  font-weight: lighter;
}

.formInput {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border: 0.05px solid gray;
}

label {
  font-size: 15px;
}

span {
  font-size: 10px;
  padding: 2px;
  color: red;
  display: none;
}
input:invalid[focused="true"] ~ span {
  display: block;
}

.back {
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  border-width: 0.3px;
}

.image {
  margin-bottom: 40px;
}
